:root {
	color-scheme: light dark;
	
	/* shamelessly robbed from Wikipedia */
	--c-bg: light-dark(#f8f9fa, #202122);
	--c-text: light-dark(#202122, #eaecf0);
	--c-link: light-dark(#36c,#88a3e8);
	--c-linkh: light-dark(#3056a9,#a6bbf5);
	--c-linka: light-dark(#233566,#b6d4fb);
	--c-linke: light-dark(#bf3c2c,#fd7865);
	--c-linkeh: light-dark(#9f3526,#fea898);
	--c-linkea: light-dark(#612419,#ffc8bd);
	--c-links: light-dark(#6a60b0,#a799cd);
	--c-linksh: light-dark(#534fa3,#c5b9dd);
	--c-linksa: light-dark(#353262,#d9d0e9);

	--c-0-l5: oklch(95% 0 0);
	--c-0-l4: oklch(91% 0 0);
	--c-0-l3: oklch(85% 0 0);
	--c-0-l2: oklch(80.5% 0 0);
	--c-0-l1: oklch(74% 0 0);
	--c-0-0: oklch(65% 0 0);
	--c-0-d1: oklch(58% 0 0);
	--c-0-d2: oklch(48% 0 0);
	--c-0-d3: oklch(41.5% 0 0);
	--c-0-d4: oklch(35% 0 0);
	--c-0-d5: oklch(30% 0 0);

	--c-0: light-dark(var(--c-0-0),var(--c-0-l1));
	--c-0h: light-dark(var(--c-0-d1),var(--c-0-l2));
	--c-0a: light-dark(var(--c-0-d2),var(--c-0-l3));

	--c-0-5: light-dark(var(--c-0-l5),var(--c-0-d5));
	--c-0-4: light-dark(var(--c-0-l4),var(--c-0-d4));
	--c-0-3: light-dark(var(--c-0-l3),var(--c-0-d3));
	--c-0-2: light-dark(var(--c-0-l2),var(--c-0-d2));
	--c-0-1: light-dark(var(--c-0-l1),var(--c-0-d1));
	--c-0--1: light-dark(var(--c-0-d1),var(--c-0-l1));
	--c-0--2: light-dark(var(--c-0-d2),var(--c-0-l2));
	--c-0--3: light-dark(var(--c-0-d3),var(--c-0-l3));
	--c-0--4: light-dark(var(--c-0-d4),var(--c-0-l4));
	--c-0--5: light-dark(var(--c-0-d5),var(--c-0-l5));

	--c-0-bg: var(--c-0-5); --c-0-bgh: var(--c-0-4); --c-0-bga: var(--c-0-3);
	--c-0-bd: var(--c-0-0); --c-0-bdh: var(--c-0--1); --c-0-bda: var(--c-0--2);
	--c-0-bc: var(--c-0--1); --c-0-bch: var(--c-0--2); --c-0-bca: var(--c-0--3);


	--c-1-l5: oklch(96% 0.035 25);
	--c-1-l4: oklch(92% 0.05 25);
	--c-1-l3: oklch(86% 0.095 25);
	--c-1-l2: oklch(79% 0.155 25);
	--c-1-l1: oklch(72% 0.2 25);
	--c-1-0: oklch(61% 0.22 25);
	--c-1-d1: oklch(53% 0.19 25);
	--c-1-d2: oklch(45% 0.17 25);
	--c-1-d3: oklch(40% 0.15 25);
	--c-1-d4: oklch(34.5% 0.11 25);
	--c-1-d5: oklch(29.5% 0.06 25);

	--c-1: light-dark(var(--c-1-0),var(--c-1-l1));
	--c-1h: light-dark(var(--c-1-d1),var(--c-1-l2));
	--c-1a: light-dark(var(--c-1-d2),var(--c-1-l3));

	--c-1-5: light-dark(var(--c-1-l5),var(--c-1-d5));
	--c-1-4: light-dark(var(--c-1-l4),var(--c-1-d4));
	--c-1-3: light-dark(var(--c-1-l3),var(--c-1-d3));
	--c-1-2: light-dark(var(--c-1-l2),var(--c-1-d2));
	--c-1-1: light-dark(var(--c-1-l1),var(--c-1-d1));
	--c-1--1: light-dark(var(--c-1-d1),var(--c-1-l1));
	--c-1--2: light-dark(var(--c-1-d2),var(--c-1-l2));
	--c-1--3: light-dark(var(--c-1-d3),var(--c-1-l3));
	--c-1--4: light-dark(var(--c-1-d4),var(--c-1-l4));
	--c-1--5: light-dark(var(--c-1-d5),var(--c-1-l5));

	--c-1-bg: var(--c-1-5); --c-1-bgh: var(--c-1-4); --c-1-bga: var(--c-1-3);
	--c-1-bd: var(--c-1-0); --c-1-bdh: var(--c-1--1); --c-1-bda: var(--c-1--2);
	--c-1-bc: var(--c-1--1); --c-1-bch: var(--c-1--2); --c-1-bca: var(--c-1--3);


	--c-2-l5: oklch(96% 0.035 50);
	--c-2-l4: oklch(92.5% 0.05 50);
	--c-2-l3: oklch(86.5% 0.085 50);
	--c-2-l2: oklch(80% 0.14 50);
	--c-2-l1: oklch(74% 0.165 50);
	--c-2-0: oklch(64% 0.185 50);
	--c-2-d1: oklch(57% 0.165 50);
	--c-2-d2: oklch(48.5% 0.145 50);
	--c-2-d3: oklch(42% 0.12 50);
	--c-2-d4: oklch(35% 0.095 50);
	--c-2-d5: oklch(29.5% 0.06 50);

	--c-2: light-dark(var(--c-2-0),var(--c-2-l1));
	--c-2h: light-dark(var(--c-2-d1),var(--c-2-l2));
	--c-2a: light-dark(var(--c-2-d2),var(--c-2-l3));

	--c-2-5: light-dark(var(--c-2-l5),var(--c-2-d5));
	--c-2-4: light-dark(var(--c-2-l4),var(--c-2-d4));
	--c-2-3: light-dark(var(--c-2-l3),var(--c-2-d3));
	--c-2-2: light-dark(var(--c-2-l2),var(--c-2-d2));
	--c-2-1: light-dark(var(--c-2-l1),var(--c-2-d1));
	--c-2--1: light-dark(var(--c-2-d1),var(--c-2-l1));
	--c-2--2: light-dark(var(--c-2-d2),var(--c-2-l2));
	--c-2--3: light-dark(var(--c-2-d3),var(--c-2-l3));
	--c-2--4: light-dark(var(--c-2-d4),var(--c-2-l4));
	--c-2--5: light-dark(var(--c-2-d5),var(--c-2-l5));

	--c-2-bg: var(--c-2-5); --c-2-bgh: var(--c-2-4); --c-2-bga: var(--c-2-3);
	--c-2-bd: var(--c-2-0); --c-2-bdh: var(--c-2--1); --c-2-bda: var(--c-2--2);
	--c-2-bc: var(--c-2--1); --c-2-bch: var(--c-2--2); --c-2-bca: var(--c-2--3);


	--c-3-l5: oklch(96.5% 0.035 90);
	--c-3-l4: oklch(94.3% 0.06 90);
	--c-3-l3: oklch(90% 0.095 90);
	--c-3-l2: oklch(85.5% 0.13 90);
	--c-3-l1: oklch(81% 0.16 90);
	--c-3-0: oklch(71% 0.168 90);
	--c-3-d1: oklch(64% 0.14 90);
	--c-3-d2: oklch(52.5% 0.115 90);
	--c-3-d3: oklch(44% 0.1 90);
	--c-3-d4: oklch(36% 0.085 90);
	--c-3-d5: oklch(30.5% 0.06 90);

	--c-3: light-dark(var(--c-3-0),var(--c-3-l1));
	--c-3h: light-dark(var(--c-3-d1),var(--c-3-l2));
	--c-3a: light-dark(var(--c-3-d2),var(--c-3-l3));

	--c-3-5: light-dark(var(--c-3-l5),var(--c-3-d5));
	--c-3-4: light-dark(var(--c-3-l4),var(--c-3-d4));
	--c-3-3: light-dark(var(--c-3-l3),var(--c-3-d3));
	--c-3-2: light-dark(var(--c-3-l2),var(--c-3-d2));
	--c-3-1: light-dark(var(--c-3-l1),var(--c-3-d1));
	--c-3--1: light-dark(var(--c-3-d1),var(--c-3-l1));
	--c-3--2: light-dark(var(--c-3-d2),var(--c-3-l2));
	--c-3--3: light-dark(var(--c-3-d3),var(--c-3-l3));
	--c-3--4: light-dark(var(--c-3-d4),var(--c-3-l4));
	--c-3--5: light-dark(var(--c-3-d5),var(--c-3-l5));

	--c-3-bg: var(--c-3-5); --c-3-bgh: var(--c-3-4); --c-3-bga: var(--c-3-3);
	--c-3-bd: var(--c-3-0); --c-3-bdh: var(--c-3--1); --c-3-bda: var(--c-3--2);
	--c-3-bc: var(--c-3--1); --c-3-bch: var(--c-3--2); --c-3-bca: var(--c-3--3);


	--c-4-l5: oklch(96% 0.04 150);
	--c-4-l4: oklch(93% 0.065 150);
	--c-4-l3: oklch(89% 0.105 150);
	--c-4-l2: oklch(82.5% 0.15 150);
	--c-4-l1: oklch(75% 0.18 150);
	--c-4-0: oklch(62.5% 0.185 150);
	--c-4-d1: oklch(55% 0.17 150);
	--c-4-d2: oklch(47% 0.155 150);
	--c-4-d3: oklch(42% 0.14 150);
	--c-4-d4: oklch(35% 0.095 150);
	--c-4-d5: oklch(29.5% 0.06 150);

	--c-4: light-dark(var(--c-4-0),var(--c-4-l1));
	--c-4h: light-dark(var(--c-4-d1),var(--c-4-l2));
	--c-4a: light-dark(var(--c-4-d2),var(--c-4-l3));

	--c-4-5: light-dark(var(--c-4-l5),var(--c-4-d5));
	--c-4-4: light-dark(var(--c-4-l4),var(--c-4-d4));
	--c-4-3: light-dark(var(--c-4-l3),var(--c-4-d3));
	--c-4-2: light-dark(var(--c-4-l2),var(--c-4-d2));
	--c-4-1: light-dark(var(--c-4-l1),var(--c-4-d1));
	--c-4--1: light-dark(var(--c-4-d1),var(--c-4-l1));
	--c-4--2: light-dark(var(--c-4-d2),var(--c-4-l2));
	--c-4--3: light-dark(var(--c-4-d3),var(--c-4-l3));
	--c-4--4: light-dark(var(--c-4-d4),var(--c-4-l4));
	--c-4--5: light-dark(var(--c-4-d5),var(--c-4-l5));

	--c-4-bg: var(--c-4-5); --c-4-bgh: var(--c-4-4); --c-4-bga: var(--c-4-3);
	--c-4-bd: var(--c-4-0); --c-4-bdh: var(--c-4--1); --c-4-bda: var(--c-4--2);
	--c-4-bc: var(--c-4--1); --c-4-bch: var(--c-4--2); --c-4-bca: var(--c-4--3);


	--c-5-l5: oklch(96% 0.04 175);
	--c-5-l4: oklch(93% 0.065 175);
	--c-5-l3: oklch(88% 0.1 175);
	--c-5-l2: oklch(81% 0.125 175);
	--c-5-l1: oklch(74% 0.19 175);
	--c-5-0: oklch(64.5% 0.165 175);
	--c-5-d1: oklch(54% 0.13 175);
	--c-5-d2: oklch(46.5% 0.12 175);
	--c-5-d3: oklch(41% 0.11 175);
	--c-5-d4: oklch(34% 0.09 175);
	--c-5-d5: oklch(29.5% 0.06 175);

	--c-5: light-dark(var(--c-5-0),var(--c-5-l1));
	--c-5h: light-dark(var(--c-5-d1),var(--c-5-l2));
	--c-5a: light-dark(var(--c-5-d2),var(--c-5-l3));

	--c-5-5: light-dark(var(--c-5-l5),var(--c-5-d5));
	--c-5-4: light-dark(var(--c-5-l4),var(--c-5-d4));
	--c-5-3: light-dark(var(--c-5-l3),var(--c-5-d3));
	--c-5-2: light-dark(var(--c-5-l2),var(--c-5-d2));
	--c-5-1: light-dark(var(--c-5-l1),var(--c-5-d1));
	--c-5--1: light-dark(var(--c-5-d1),var(--c-5-l1));
	--c-5--2: light-dark(var(--c-5-d2),var(--c-5-l2));
	--c-5--3: light-dark(var(--c-5-d3),var(--c-5-l3));
	--c-5--4: light-dark(var(--c-5-d4),var(--c-5-l4));
	--c-5--5: light-dark(var(--c-5-d5),var(--c-5-l5));

	--c-5-bg: var(--c-5-5); --c-5-bgh: var(--c-5-4); --c-5-bga: var(--c-5-3);
	--c-5-bd: var(--c-5-0); --c-5-bdh: var(--c-5--1); --c-5-bda: var(--c-5--2);
	--c-5-bc: var(--c-5--1); --c-5-bch: var(--c-5--2); --c-5-bca: var(--c-5--3);


	--c-6-l5: oklch(95.5% 0.025 225);
	--c-6-l4: oklch(92.5% 0.05 225);
	--c-6-l3: oklch(86.5% 0.085 225);
	--c-6-l2: oklch(80.5% 0.11 225);
	--c-6-l1: oklch(73.5% 0.14 225);
	--c-6-0: oklch(62% 0.155 225);
	--c-6-d1: oklch(54% 0.127 225);
	--c-6-d2: oklch(46% 0.117 225);
	--c-6-d3: oklch(41% 0.1 225);
	--c-6-d4: oklch(34% 0.085 225);
	--c-6-d5: oklch(28.5% 0.06 225);

	--c-6: light-dark(var(--c-6-0),var(--c-6-l1));
	--c-6h: light-dark(var(--c-6-d1),var(--c-6-l2));
	--c-6a: light-dark(var(--c-6-d2),var(--c-6-l3));

	--c-6-5: light-dark(var(--c-6-l5),var(--c-6-d5));
	--c-6-4: light-dark(var(--c-6-l4),var(--c-6-d4));
	--c-6-3: light-dark(var(--c-6-l3),var(--c-6-d3));
	--c-6-2: light-dark(var(--c-6-l2),var(--c-6-d2));
	--c-6-1: light-dark(var(--c-6-l1),var(--c-6-d1));
	--c-6--1: light-dark(var(--c-6-d1),var(--c-6-l1));
	--c-6--2: light-dark(var(--c-6-d2),var(--c-6-l2));
	--c-6--3: light-dark(var(--c-6-d3),var(--c-6-l3));
	--c-6--4: light-dark(var(--c-6-d4),var(--c-6-l4));
	--c-6--5: light-dark(var(--c-6-d5),var(--c-6-l5));

	--c-6-bg: var(--c-6-5); --c-6-bgh: var(--c-6-4); --c-6-bga: var(--c-6-3);
	--c-6-bd: var(--c-6-0); --c-6-bdh: var(--c-6--1); --c-6-bda: var(--c-6--2);
	--c-6-bc: var(--c-6--1); --c-6-bch: var(--c-6--2); --c-6-bca: var(--c-6--3);


	--c-7-l5: oklch(95% 0.025 264);
	--c-7-l4: oklch(90.5% 0.05 264);
	--c-7-l3: oklch(81.5% 0.09 264);
	--c-7-l2: oklch(71.5% 0.156 264);
	--c-7-l1: oklch(64.5% 0.203 264);
	--c-7-0: oklch(56% 0.2 264);
	--c-7-d1: oklch(47.5% 0.19 264);
	--c-7-d2: oklch(40.5% 0.16 264);
	--c-7-d3: oklch(36% 0.125 264);
	--c-7-d4: oklch(31.5% 0.1 264);
	--c-7-d5: oklch(27.5% 0.06 264);

	--c-7: light-dark(var(--c-7-0),var(--c-7-l1));
	--c-7h: light-dark(var(--c-7-d1),var(--c-7-l2));
	--c-7a: light-dark(var(--c-7-d2),var(--c-7-l3));

	--c-7-5: light-dark(var(--c-7-l5),var(--c-7-d5));
	--c-7-4: light-dark(var(--c-7-l4),var(--c-7-d4));
	--c-7-3: light-dark(var(--c-7-l3),var(--c-7-d3));
	--c-7-2: light-dark(var(--c-7-l2),var(--c-7-d2));
	--c-7-1: light-dark(var(--c-7-l1),var(--c-7-d1));
	--c-7--1: light-dark(var(--c-7-d1),var(--c-7-l1));
	--c-7--2: light-dark(var(--c-7-d2),var(--c-7-l2));
	--c-7--3: light-dark(var(--c-7-d3),var(--c-7-l3));
	--c-7--4: light-dark(var(--c-7-d4),var(--c-7-l4));
	--c-7--5: light-dark(var(--c-7-d5),var(--c-7-l5));

	--c-7-bg: var(--c-7-5); --c-7-bgh: var(--c-7-4); --c-7-bga: var(--c-7-3);
	--c-7-bd: var(--c-7-0); --c-7-bdh: var(--c-7--1); --c-7-bda: var(--c-7--2);
	--c-7-bc: var(--c-7--1); --c-7-bch: var(--c-7--2); --c-7-bca: var(--c-7--3);


	--c-8-l5: oklch(95% 0.028 295);
	--c-8-l4: oklch(90.5% 0.055 295);
	--c-8-l3: oklch(81% 0.09 295);
	--c-8-l2: oklch(73.5% 0.167 295);
	--c-8-l1: oklch(66% 0.22 295);
	--c-8-0: oklch(56% 0.225 295);
	--c-8-d1: oklch(47.5% 0.19 295);
	--c-8-d2: oklch(41.5% 0.16 295);
	--c-8-d3: oklch(37% 0.125 295);
	--c-8-d4: oklch(33% 0.1 295);
	--c-8-d5: oklch(28.5% 0.06 295);

	--c-8: light-dark(var(--c-8-0),var(--c-8-l1));
	--c-8h: light-dark(var(--c-8-d1),var(--c-8-l2));
	--c-8a: light-dark(var(--c-8-d2),var(--c-8-l3));

	--c-8-5: light-dark(var(--c-8-l5),var(--c-8-d5));
	--c-8-4: light-dark(var(--c-8-l4),var(--c-8-d4));
	--c-8-3: light-dark(var(--c-8-l3),var(--c-8-d3));
	--c-8-2: light-dark(var(--c-8-l2),var(--c-8-d2));
	--c-8-1: light-dark(var(--c-8-l1),var(--c-8-d1));
	--c-8--1: light-dark(var(--c-8-d1),var(--c-8-l1));
	--c-8--2: light-dark(var(--c-8-d2),var(--c-8-l2));
	--c-8--3: light-dark(var(--c-8-d3),var(--c-8-l3));
	--c-8--4: light-dark(var(--c-8-d4),var(--c-8-l4));
	--c-8--5: light-dark(var(--c-8-d5),var(--c-8-l5));

	--c-8-bg: var(--c-8-5); --c-8-bgh: var(--c-8-4); --c-8-bga: var(--c-8-3);
	--c-8-bd: var(--c-8-0); --c-8-bdh: var(--c-8--1); --c-8-bda: var(--c-8--2);
	--c-8-bc: var(--c-8--1); --c-8-bch: var(--c-8--2); --c-8-bca: var(--c-8--3);


	--c-9-l5: oklch(96% 0.03 345);
	--c-9-l4: oklch(92.5% 0.055 345);
	--c-9-l3: oklch(85.5% 0.1 345);
	--c-9-l2: oklch(80% 0.17 345);
	--c-9-l1: oklch(72.5% 0.2 345);
	--c-9-0: oklch(62.5% 0.22 345);
	--c-9-d1: oklch(53.5% 0.2 345);
	--c-9-d2: oklch(45% 0.16 345);
	--c-9-d3: oklch(40% 0.15 345);
	--c-9-d4: oklch(34.5% 0.1 345);
	--c-9-d5: oklch(29% 0.06 345);

	--c-9: light-dark(var(--c-9-0),var(--c-9-l1));
	--c-9h: light-dark(var(--c-9-d1),var(--c-9-l2));
	--c-9a: light-dark(var(--c-9-d2),var(--c-9-l3));

	--c-9-5: light-dark(var(--c-9-l5),var(--c-9-d5));
	--c-9-4: light-dark(var(--c-9-l4),var(--c-9-d4));
	--c-9-3: light-dark(var(--c-9-l3),var(--c-9-d3));
	--c-9-2: light-dark(var(--c-9-l2),var(--c-9-d2));
	--c-9-1: light-dark(var(--c-9-l1),var(--c-9-d1));
	--c-9--1: light-dark(var(--c-9-d1),var(--c-9-l1));
	--c-9--2: light-dark(var(--c-9-d2),var(--c-9-l2));
	--c-9--3: light-dark(var(--c-9-d3),var(--c-9-l3));
	--c-9--4: light-dark(var(--c-9-d4),var(--c-9-l4));
	--c-9--5: light-dark(var(--c-9-d5),var(--c-9-l5));

	--c-9-bg: var(--c-9-5); --c-9-bgh: var(--c-9-4); --c-9-bga: var(--c-9-3);
	--c-9-bd: var(--c-9-0); --c-9-bdh: var(--c-9--1); --c-9-bda: var(--c-9--2);
	--c-9-bc: var(--c-9--1); --c-9-bch: var(--c-9--2); --c-9-bca: var(--c-9--3);


	--c-10-l5: oklch(96% 0.03 0);
	--c-10-l4: oklch(92.5% 0.055 0);
	--c-10-l3: oklch(85.5% 0.1 0);
	--c-10-l2: oklch(80% 0.17 0);
	--c-10-l1: oklch(72.5% 0.2 0);
	--c-10-0: oklch(62.5% 0.22 0);
	--c-10-d1: oklch(53.5% 0.2 0);
	--c-10-d2: oklch(45% 0.16 0);
	--c-10-d3: oklch(40% 0.15 0);
	--c-10-d4: oklch(34.5% 0.1 0);
	--c-10-d5: oklch(29% 0.06 0);
	
	--c-10: light-dark(var(--c-10-0),var(--c-10-l1));
	--c-10h: light-dark(var(--c-10-d1),var(--c-10-l2));
	--c-10a: light-dark(var(--c-10-d2),var(--c-10-l3));

	--c-10-5: light-dark(var(--c-10-l5),var(--c-10-d5));
	--c-10-4: light-dark(var(--c-10-l4),var(--c-10-d4));
	--c-10-3: light-dark(var(--c-10-l3),var(--c-10-d3));
	--c-10-2: light-dark(var(--c-10-l2),var(--c-10-d2));
	--c-10-1: light-dark(var(--c-10-l1),var(--c-10-d1));
	--c-10--1: light-dark(var(--c-10-d1),var(--c-10-l1));
	--c-10--2: light-dark(var(--c-10-d2),var(--c-10-l2));
	--c-10--3: light-dark(var(--c-10-d3),var(--c-10-l3));
	--c-10--4: light-dark(var(--c-10-d4),var(--c-10-l4));
	--c-10--5: light-dark(var(--c-10-d5),var(--c-10-l5));

	--c-10-bg: var(--c-10-5); --c-10-bgh: var(--c-10-4); --c-10-bga: var(--c-10-3);
	--c-10-bd: var(--c-10-0); --c-10-bdh: var(--c-10--1); --c-10-bda: var(--c-10--2);
	--c-10-bc: var(--c-10--1); --c-10-bch: var(--c-10--2); --c-10-bca: var(--c-10--3);
}