:root {
	--font: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	color-scheme: light dark;
}

body {
	font-family: var(--font);
	padding-inline: max(4%, 1.34rem);
	margin-block: 1.34rem;
}

:is(h1, h2, h3, h4, h5, h6) {
	margin-block: 0.67em;
}

hgroup :is(h1, h2, h3, h4, h5, h6) {
	margin-block-end: 0;
}

hgroup p {
	margin-block-start: 0.25em;
}

p {
	text-align: justify;
	margin-block: 0.5em;
}

p[lang=en] { hyphens: auto; }

hr { color: inherit; border: none; border-block-start: 1px solid currentColor; }

ul { padding-inline-start: 2ch; }
ol { padding-inline-start: 3ch; }
:is(dir, menu, ol, ul) ol {
	padding-inline-start: 2ch;
	list-style-type: lower-alpha;
}
:is(dir, menu, ol, ul) :is(dir, menu, ol, ul) ol {
	list-style-type: lower-roman;
}

li > p { margin-block: 0; } /* use p to justify text inside li */
li > img { vertical-align: text-top; }

fieldset {
	margin-inline: 0;
	border: 1px solid currentColor;
}

fieldset legend + p { margin-block-start: 0; }
fieldset p:last-child { margin-block-end: 0; }

img {
	max-inline-size: 100%;
	max-block-size: 20em;
}
img.small { max-block-size: 10em; }
img.large { max-block-size: 30em; }

figure {
	text-align: center;
	break-inside: avoid-column;
	margin-inline: 1em;
}

figure.float-right, figure.float-left {
	margin-block-start: 0;
	padding: 0.5em;
	border: 1px solid currentColor;
}
figure.float-right { float: inline-end; }
figure.float-left { float: inline-start; }

.columns {
	columns: 20em;
}

fieldset > .columns {
	column-rule: thin solid;
}

.columns:has( > :is(p, figure):first-child) {
	margin-block-start: 1em;
}

.columns > :is(p, figure):first-child, .columns > :is(h1, h2, h3, h4, h5, h6) + :is(p, figure) {
	margin-block-start: 0;
}

.columns > :is(h1, h2, h3, h4, h5, h6):first-child {
	column-span: all;
}

.columns > :is(h1, h2, h3, h4, h5, h6) {
	break-after: avoid-column;
}