body {
	padding-inline: max(4%, 1.34rem);
	margin-block: 1.34rem;
}

hgroup :is(h1, h2, h3, h4, h5, h6) {
	margin-block-end: 0;
}

hgroup p {
	margin-block-start: 0.25em;
}

p {
	text-align: justify;
}

p[lang=en] { hyphens: auto; }

img {
	max-inline-size: 100%;
	max-block-size: 20em;
}

figure {
	text-align: center;
	break-inside: avoid-column;
	margin-inline: 1em;
}

figure.float-right, figure.float-left {
	margin-block-start: 0;
	padding: 0.5em;
	border: 1px solid currentColor;
}
figure.float-right { float: inline-end; }
figure.float-left { float: inline-start; }

.columns {
	columns: 20em;
}

.columns:has( > :is(p, figure):first-child) {
	margin-block-start: 1em;
}

.columns > :is(p, figure):first-child, .columns > :is(h1, h2, h3, h4, h5, h6) ~ :is(p, figure) {
	margin-block-start: 0;
}

.columns > :is(h1, h2, h3, h4, h5, h6):first-child {
	column-span: all;
}